HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Dependencies
/.gradle/
/.idea/
/build/

# IDE-specific files
/.vscode/
/.settings/
/.project
.classpath

# Logs
/logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db